.footer {
  max-width: 984px;
  margin: 0 auto;
}

.footer__author {
  margin: 92px 0 0;
  padding-bottom: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  .footer__author {
    margin-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .footer__author {
    margin-top: 64px;
    line-height: 14px;
  }
}
