.header {
  max-width: 984px;
  margin: 0 auto;
}

.header__logo {
  max-width: 254px;
  max-height: 68px;
  display: block;
  margin: 0 auto 90px;
  padding-top: 34px;
}

.header__title {
  margin: 0 auto 32px;
  font-weight: bold;
  text-align: center;
  font-size: 96px;
  line-height: 100px;
}

.header__span {
  display: block;
}

.header__subtitle {
  max-width: 720px;
  margin: 0 auto 64px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.header__image {
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .header__logo {
    max-height: 66px;
    padding-top: 30px;
  }

  .header__title {
    margin-bottom: 25px;
    font-size: 75px;
    line-height: 79px;
  }

  .header__subtitle {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 188px;
    max-height: 52px;
    margin-bottom: 50px;
    padding-top: 20px;
  }

  .header__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }

  .header__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .header__image {
    box-shadow: none;
  }
}
